@model MultipleBindModel6.Models.ProductModel

<div class="card" style="width: 18rem;">
    <img src="@(Model.Image)" asp-append-version="true" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text"><b>₹ @Model.Price</b></p>
        <a href="#" class="btn btn-primary">View Detail</a>
    </div>
</div>


