
@{
    ViewBag.Title = "BrandList";
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Brand-Name</title>
    <link href="~/Style/Newstyle.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <h2>BrandList</h2>
    <h4 id="CustomerDetails"></h4>
    <table id="result" class="display" style="width:100%">
        <thead>
            <tr>
                <td>ID</td>
                <td>BrandName</td>
                <td>Model</td>
            </tr>
        </thead>
    </table>

    <h2>-------------------------------------------------------------------------------------------------------------</h2>
    <input type="button" id="clickbtn" value="Click Here" />
    <h3 id="ans"></h3>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/BrandName/BrandListName",
                datatype: "json",
                success: function (response) {
                    new DataTable('#result', {
                        data: response,
                        columns: [
                            { data: 'id' },
                            { data: 'BrandName' },
                            { data: 'Model' }
                        ],
                        "pageLength": 5
                    });
                }
            });

            $('#clickbtn').on("click", function () {
                $.ajax({
                    type: "GET",
                    url: "/BrandName/GetdataList",
                    datatype: "json",
                    success: function (response) {

                        if (response.data != "Error.") {
                            $('#ans').html("Success" + " " + response.data[0].id + " " + response.data[0].Name);
                        } else {
                            alert("Data Not Founded.!!" + response.data);
                        }

                    }
                });
            });
        });
    </script>
</body>
</html>

